<h1>New gossips</h1>

<h3>Add a gossip :</h3>

<%= simple_form_for @gossip do |f| %>

	<%= f.association :corsair, label_method: :username %>
	<%= f.input :content %>
	<%= f.button :submit %>

<% end %>