<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "The Hacking Gossip", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Gossips",   new_path %></li>
            <li><%= link_to "Corsairs", corsairs_path %></li>
          </ul>
        </nav>
      </div>
</header>